@media (max-width: 991px) {
  html, body { height: 100%; }
  
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  body > header { flex-shrink: 0; }
  
  body > main,
  body > section { flex: 1 0 auto; }
  
  body > footer { 
    flex-shrink: 0; 
    margin-top: auto; 
  }

  .vm-section .blob-right {
    right: auto;
    left: 50%;
    transform: translateX(-30%);
    top: 60px;
    width: 900px;
    height: 600px;
  }

  .tomato-header,
  .pd-main {
    min-width: 1200px !important; 
  }

  .pd-main {
    padding-bottom: 110px !important;
  }

  .pd-top-row {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
  }

  .pd-top-row > div {
    flex: 0 0 50% !important;
    max-width: 50% !important;
    width: 50% !important;
  }
}
